<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>

<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
<btn>Match Foundation</btn>
<div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="box">
          <h3 class="title">Product Details</h3>
          <hr>
          <div class="panel panel-primary">
            </div>
            <div class="panel-body"></div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
